<table class = "contributors-list">
  <tr>
    <th class = "nickname" (click) = "sortContributors('nickname')">Contributor
      <span class = "sort-icon" [ngClass] = "setSortArrowClass('nickname')"></span>
    </th>
    <th class = "team" (click) = "sortContributors('team')">Team
      <span class = "sort-icon" [ngClass] = "setSortArrowClass('team')"></span>
    </th>
    <th class = "contributions" (click) = "sortContributors('contributions')">Contributions
      <span class = "sort-icon" [ngClass] = "setSortArrowClass('contributions')"></span>
    </th>
  </tr>
  <tr class = "contributor"
      *ngFor = "let contributor of contributors; let i = index"
      [class.zebra] = "i%2 == 0">
    <td>{{contributor.nickname}}</td>
    <td>{{contributor.team}}</td>
    <td>{{contributor.contributions}}</td>
  </tr>
</table>
