table.contributors-list {
  width: 100%;
  border-collapse: collapse;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

td {
  height: 25px;
}

td, th {
  padding: 0 0 0 10px;
  cursor: default;
}

.nickname, .team {
  width: 37%;
}

th {
  text-align: left;
  height: 35px;
}

th:hover {
  background-color: #e2e2e2;
}

tr.contributor:hover {
  background-color: #33899A;
  color: #ffffff;
  font-weight: bold;
}

.zebra {
  background-color: #ffffff;
}

.sort-icon {
  height: 15px;
  width: 15px;
  display: block;
  float: right;
  margin: 0 5px 0 0;
  background-size: contain;
}

@media screen and (max-width: 640px) {

  table {
    font-size: 13px;
  }

}

@media screen and (max-width: 440px) {

  table {
    font-size: 12px;
  }

  .sort-icon {
    display: none;
  }
}

@media screen and (max-width: 320px) {

  table {
    font-size: 11px;
  }

  .nickname, .team {
    width: 35%;
  }

}


