header {
  width: 100%;
  height: 107px;
  border-bottom: 1px solid black;
}

div.logo {
  padding: 10px 0 10px 40px;
}

  .logo-image {
    width: 300px;
    height: 87px;
  }

div.display-area {
  max-width: 640px;
  max-height: calc(100% - 123px);
  margin: 15px auto 0 auto;
}

div.tab-controls {
  width: calc(100%);
  display: flex;
  position: relative;
  z-index: 1;
}

div.tab {
  height: 50px;
  width: 50%;
  text-align: center;
  font: normal normal 600 20px / 50px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: #33899a;
  text-transform: uppercase;
  cursor: default;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
}

.active {
  background-color: #efefef;
  border-top: 1px solid #33899A!important;
  border-left: 1px solid #33899A!important;
  border-right: 1px solid #33899A!important;
}

div.content {
  width: calc(100% - 2px);
  max-height: calc(100% - 52px);
  background-color: #efefef;
  border: 1px solid #33899A;
  position: relative;
  top: -1px;
  z-index: 0;
}


@media screen and (max-width: 640px) {

  div.logo {
    padding: 10px 0 10px 10px;
  }

  div.content {
    width: 100%;
    border: none;
    top: 0;
    border-top: 1px solid #33899A;
    border-bottom: 1px solid #33899A;
  }

  .active {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
  }

}

@media screen and (max-width: 440px) {
  div.tab {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .logo-image {
    width: 200px;
    height: 58px;
  }

  header {
    height: 88px;
  }
}

@media screen and (max-width: 260px) {
  div.tab {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }
}
