<header>
  <div class = "logo">
    <a href = "http://localhost:3000">
      <img src="./app/logo-small.png" class = "logo-image" alt="X-Formation-Statistics">
      <span></span>
    </a>
  </div>
</header>

<div class = display-area>
  <div class = "tab-controls">
    <div class = "tab"
         routerLink = "/contributors"
         routerLinkActive = "active"
         (click)="onTabSelect('Contributors')">
      Contributors
    </div>
    <div class = "tab"
         routerLink = "/repositories"
         routerLinkActive = "active"
         (click)="onTabSelect('Repositories')">
      Repositories
    </div>
  </div>
  <div class = "content">
    <router-outlet></router-outlet>
  </div>
</div>
