div {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

div.sort-controls {
  height: 35px;
  width: 100%;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
}

  div.sort-controls div {
    margin: 0 10px 0 0;
    line-height: 35px;
  }

    div.sorting-order .toggle-sorting {
      height: 20px;
      min-width: 78px;
      font-size: 11px;
      border: 1px solid #a9a9a9;
      background: none;
      outline: none;
    }

  .sort-dropdown {
    height: 20px;
    font-size: 11px;
    background: none;
    outline: none;
  }

div.content {
  width: 100%;
}

.zebra {
  background-color: #ffffff;
}

div.repository-item {
  width: 100%;
  padding: 10px 0 10px 0;
}

div.general, .details {
  display: flex;
  width: inherit;
}

  div.item-name {
    height: 35px;
    font-size: 20px;
    font-weight: bold;
  }

    div.item-name a {
      margin: 0 0 0 10px;
      color: #33899A;
      text-decoration: none;
      float: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    div.item-name a:hover {
      text-decoration: underline;
    }

  div.item-last-update {
    text-align: right;
    font-size: 11px;
    color: grey;
  }

    div.item-last-update p {
      padding: 0;
      margin: 0 0 0 40px;
      font-weight: bold;
      float: left;
    }

    div.item-last-update span {
      font-weight: normal;
      float: right;
      margin: 0 10px 0 0;
    }

  div.details {
    height: 20px;
  }

    div.details p {
      margin: 0 0 0 10px;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    div.item-description {

    }

    div.item-stats {
      display: flex;
      justify-content: flex-end;
      width: calc(30% - 10px);
      margin: 0 10px 0 0;
      line-height: 20px;
    }

      div.item-stats div {
        font-size: 11px;
        margin: 0 0 0 10px;
      }

      div.item-stats span {
        font-weight: bold;
        margin: 0 0 0 5px;
      }


.forks-icon, .stargazers-icon, .lang-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-bottom;
}

.item-name, .item-description, .no-description {
  width: 70%;
}

.item-last-update {
  width: 30%;
}

.no-description {
  font-size: 12px;
  font-style: italic;
  color: grey;
  padding: 0 0 0 10px;
}

@media screen and (max-width: 610px) {
  div.item-last-update {
    display: flex;
    flex-direction: column;
  }
    .item-last-update p {
      margin: 0 10px 3px 0!important;
    }
}


@media screen and (max-width: 480px) {

  div.repository-item {
    height: 70px;
  }

  div.details {
    display: block;
  }

  div.item-stats {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin: 5px 0 0 0;
  }

  div.item-stats span {
    margin: 0;
  }

}


@media screen and (max-width: 320px) {

  div.repository-item {
    height: 90px;
  }

  div.item-name {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 27px;
  }

  .item-description {
    width: 90%;
  }

  div.general {
    display: block;
  }

  div.item-last-update {
    flex-direction: row;
    width: auto;
    text-align: right;
    font-size: 11px;
    margin: 0 0 10px 10px;
  }

  div.item-last-update p {
    padding: 0;
    margin: 0 0 0 40px;
    float: none;
  }

  div.item-last-update span {
    font-weight: normal;
    float: none;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 260px) {
  div.sort-controls {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
}

