<div class = "sort-controls">
  <div class = "sorting-type">
    <label>Sort by: </label>
    <select [(ngModel)] = "selectedOption" (ngModelChange) = "onOptionChange($event)" class = "sort-dropdown">
      <option *ngFor = "let option of sortingOptions" [ngValue] = "option">{{option.name}}</option>
    </select>
  </div>
  <div class = "sorting-order">
    <label>Order: </label>
    <button class = "toggle-sorting" (click) = "switchSortingOrder()">{{sortingOrder}}</button>
  </div>
</div>

<div class = "content">
  <div class = "repository-item" *ngFor = "let repository of repositories; let i = index"
  [class.zebra] = "i%2 == 0">
    <div class = "general">
      <div class = "item-name"><a href = "{{repository.html_url}}">{{repository.name}}</a></div>
      <div class = "item-last-update">
        <p>Last update: </p><span>{{repository.updated_at | date}}</span>
      </div>
    </div>

    <div class = "details">
      <div class = "item-description" *ngIf = "repository.description"><p>{{repository.description}}</p></div>
      <div class = "no-description" *ngIf = "!repository.description">No description...</div>
      <div class = "item-stats">
        <div title = "Language"><span class = "lang-icon"></span>  {{repository.language}}</div>
        <div title = "Endorsements" *ngIf = "repository.stargazers_count"><span class = "stargazers-icon"></span>  {{repository.stargazers_count}}</div>
        <div title = "Forks"><span class = "forks-icon"></span>  {{repository.forks_count}}</div>
      </div>
    </div>
  </div>
</div>
