h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 250%;*/
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

.sort-icon.sorted-descended {
  background: url(app/components/contributors/images/descending.png) no-repeat;
}

.sort-icon.sorted-ascended {
  background: url(app/components/contributors/images/ascending.png) no-repeat;
}

.sort-icon.not-sorted {
  opacity: 0.4;
  background: url(app/components/contributors/images/not-sorted.png) no-repeat;
}

.forks-icon {
  background: url(app/components/repositories/images/fork.png)no-repeat;
  background-size: contain;
}

.stargazers-icon {
  background: url(app/components/repositories/images/star.png)no-repeat;
  background-size: contain;
}

.lang-icon {
  background: url(app/components/repositories/images/language.png)no-repeat;
  background-size: contain;
}
